*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #F1C21A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.cabecalho-imagem{
    width: 15%;
}